body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the margin as needed */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove iframe border if necessary */
}
